@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}
.row1{
    background-image: url(../images/africanfolktales.jpg);
    background-size: auto;
    background-color: #9b59b6;
    font-family: "Roboto";
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.row1 h1{
    color: rgb(255, 251, 13);
    font-size: 60px;
    font-style: inherit;
    display: flex;
    flex-direction: column;
    margin-left: 500px;
    padding-top: 50px;
}
.column1{
    /* background-color: #ffffff; */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 200px;
    max-width: 100%;
    
}
.col-6 h2{
    font-size: 30px;
    font-family: inherit;
    background-color: #029ece;
    color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    border-radius: 5px;
}
.col-6 p{
    font-size: 20px;
    font-family: inherit;
    background-color: #ffffff;
    color: #029ece;
    border: none;
    text-align: justify;
    padding: 30px;
}
.column2{
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    width: 300px;
    max-width: 100%;
    margin-bottom: 20px;
}
.header{
    background-color: antiquewhite;
    border-bottom: 1px solid #f7f7f7;
    padding: 10px 0px;
}
.header h2{
    text-align: center;
    letter-spacing: 1px;
    font-size: 25px;
    color: rgb(255, 8, 0);
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}
.form-control input{
    border: 2px solid #a4b2b8;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    background-color: rgb(238, 236, 235);
    font-size: 14px;
    padding: 10px;
    width: 100%;
}
.form button {
    background-color: #029ece;
    border: 2px solid #029ece;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 20px;
    text-align: center;
    font-family: inherit;
    padding: 10px;
    width: 100%;
    position: ;
}#gender{
    padding: 10px;
    width: 100%;
    font-size: 20px;
    border: 2px solid #90999c;
    border-radius: 4px;
}
#return{
    color: red;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    background-color: white;
}
#p2{
    color: rgb(0, 0, 0);
    background-color: antiquewhite;
}
#alert1{
    margin-top: 2px;
    color: red;
}
#alert2{
    margin-top: 2px;
    color: red;
}
#alert3{
    margin-top: 2px;
    color: red;
}