@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}
.row1{
    background-image: url(../Akan-names-Project/images/africanfolktales.jpg);
    background-size: auto;
    background-color: #9b59b6;
    font-family: "Roboto";
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.row1 h1{
    color: rgb(255, 251, 13);
    text-align: center;
    font-size: 60px;
    font-style: inherit;
}